<mat-card>
  <mat-card-content>
    <div class="in-the-middle">
      <h2>Test: Are you an introvert or an extrovert?</h2>
      <h3>So do you consider yourself more of an introvert or an extrovert? Take this test, put together with input from
        psychoanalyst Sandrine Dury, and find out</h3>
      <h4>by Jakub Studziński</h4>
    </div>
    <div class="in-the-middle">
      <button mat-raised-button color="primary" (click)="begin()">Begin the test</button>
    </div>

  </mat-card-content>
</mat-card>
